*{
    padding: 0%;
    margin: 0%;
}
.header
{
    width: 1680px;
    height: 732.59px;
   background-image: url( 'https://assets.nflxext.com/ffe/siteui/vlv3/79fe83d4-7ef6-4181-9439-46db72599559/bd05b4ed-7e37-4be9-85c8-078f067bd150/IN-en-20221017-popsignuptwoweeks-perspective_alpha_website_large.jpg' );


  filter: brightness(80%);
  border-bottom: 8px solid gray;


  
}
.header2
{
    width: 1680px;
    height: 732.59px;
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
}


.navbar
{
    width: 1568px;
    height: 49px;
    padding-top: 8px;
    margin-left: 56px;
    margin-right: 56px;
    display: flex;
    justify-content: space-between;
   
}
.navbar img
{
    filter: brightness(200%);

   
    
}
.buttonset
{
    display: flex;
    justify-content: space-between;
}
.dropdown
{
 margin-right: 32px;
 background-color: black;
}
.dropdown button
{
    background-color: black;
    border: 1px solid white;
}
.headeroot
{
    margin-left: 320px;
    margin-right: 320px;
    padding-top: 75px;
    padding-bottom: 75px;
    width: 950px;
    height: 342.59px;
    
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    filter: brightness(700%);
    justify-content: space-between;
  margin: auto;
  margin-top: 100px;
}
.headerheading
{
   margin-right: 75px;
   margin-left: 75px;
   width: 800px;
   height: 140px;

}
.headerheading h1
{
    font-size: 64px;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;

}
.watch
{
    width: 800px;
    height: 33px;
    margin-top: 16px;
    margin-right: 75px;
    margin-left: 75px;
    margin-bottom: 16px;
    text-align: center;
  
  
    
}
.watch h1{
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-weight: normal;
    font-size: 26px;
    
   
}
.headeroot h3{
    width: 707.95px;
    height: 44px;
    margin-left: 121.02px;
    margin-right: 121.02px;
    padding-left: 47.5px;
    padding-right: 47.5px;
    padding-bottom: 20px;
  
    font-size: 18px;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
  
}
.input-group
{
    background-color: red;
    color: white;
}
.searchbar
{
    display: flex;
    flex-direction: row;
    margin-left: 102.28px;
    margin-right: 102.8px;
    width: 745.42px;
    height: 80px;
}
.searchbar input{
    width: 500px;
    height: 70px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(140, 140,140);
    border-radius: 2px;
    color: black;
}
.searchbar button
{
    width: 245.42px;
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: red;
    color: white;
    border: none;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 300;
}
.block
{
    height: 466.28px;
    width: 1680px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: black;
    border-bottom:8px solid rgb(48, 48, 48) ;
   
}
.blockcont
{
    margin-left: 245px;
    margin-right: 245px;
    width: 1100px;
    height: 326.28px;
    display: flex;
    flex-direction: row;
    align-content: center;
    
}
.block1main
{
  margin-top: 55px;
    padding-right: 48px;
    width: 547.046875px;
    height: 180px;
    display: flex;
    flex-direction: column;
}
.block1main h1{
    width: 547.05px;
    height: 56px;
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

font-size: 50px;
}
.block1main2
{
    margin-top: 19.5px;
    width: 547.05px;
    height: 99px;
    margin-bottom: 6.5px;
}
.block1main2 h2{
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
   color: white;

}
#block2main
{
    margin-top: 55px;
padding-left: 48px;
width: 547.05px;
height: 202px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
#block2main h1{
    width: 547.05px;
    height: 110px;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    color: white;

}
.block2main2
{
    width: 547.05px;
    height: 66px;
    margin-top: 19.5px;
    margin-bottom: 6.5px;
}
.block2main2 h2{
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
   color: white;
}
.block3main
{
    margin-top: 55px;
    width: 547.05px;
    height: 147px;
    padding-right: 48px;
    margin-top: 22px;
    margin-bottom: 22px;
}
.block3main h1{
    width: 547.05px;
    height: 55px;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    color: white;
}
.block3main2
{
    margin-top: 19.5px;
    margin-bottom: 6.5px;
    width: 547.05px;
    height: 66px;


}
.block3main2 h2{
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    color: white;
}
.block4main
{
    width: 547.05px ;
    height: 235px;
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block4main h1{
    width: 547.05px ;
    height: 110px;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    color: white;
}
.block4main2 
{
    margin-top: 19.5px;
    margin-bottom: 6.5px;
    width: 547.05px ;
    height: 99px;
}
.block4main2 h2{
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    color: white;
}
.lastblock
{
    width: 1680px;
    height: 930.15625px;
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 70px;
    padding-bottom: 70px;
   background-color: black;
   border-bottom: 8px solid gray;

}
.lastblockcont
{
    width: 1590px;
    height: 790.16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.lastblockcont h1{
    width: 1590px;
    height: 55px;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
}
.list-group-item{
    background-color: rgb(48, 48, 48);
    margin: auto;
}
.list-group-item 
{
    
   width: 815px;
   height: 74.59px;
   padding-top: 20.8px;
   padding-bottom: 20.8px;
   padding-left: 31.2px;
   padding-right: 57.2px;
   border-radius: 0;
   background-color: rgb(48, 48, 48);
   margin-bottom: 8px;
   font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 26px;
   
   

}
.yx
{
    margin-left: 121.02px;
    margin-right: 121.02px;
    padding-left: 47.5px;
    padding-right: 47.5px;
    padding-bottom: 20px;
    width: 707.95px;
    height: 44px;
    

}
.yx h3{
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 18px;
color: white;
text-align: center;


}

.ty
{
    margin-left: 320px;
    margin-right: 320px;
    padding-top: 13.6px;
    height: 124px;
    width: 124px;
}
.refer
{
    height: 394px;
    width: 1680px;
    background-color: black;
}
.refercont
{
    margin-left: 295px;
    margin-right: 295px;
    width: 1090px;
    height: 394px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 70px;
}
.refercontmain
{
    width: 1000px;
    height: 304px;
    padding-bottom: 20px;
}
.refercontmain-1
{
    margin-left: 50px;
    margin-right: 50px;
    width: 900px;
    height: 291px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.refercontmain-1 h2
{
    width: 900px;
    height: 20px;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

font-size: 16px;
color: rgb(115, 115, 115);
}

.vb
{
    width: 900px;
    height: 128px;
    display: grid;
    grid-template-columns: 213px 213px 213px 213px;
}
.similar
{
    width: 213px;
    height: 16px;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: rgb(115, 115, 115);

}
.lastrefer
{
    width: 900px;
    height: 16px;
    margin-top: 24px;
    margin-bottom: 13px;
}
.lastrefer span{
    font-size: 13px;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(115, 115, 115);

}